# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store
.cache
.vscode
**/.env
**/node_modules

# dependencies
/app/.pnp
/app/.pnp.js
/app/build

# sugar
sugar.log